<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Value Prediction</title>
</head>
<body>
    <h1>Value Prediction</h1>
    <form id="predictionForm">
        <label for="V1">V1:</label>
        <input type="number" id="V1" name="V1"><br><br>       
        <label for="V2">V2:</label>
        <input type="number" id="V2" name="V2"><br><br>
        <label for="V3">V3:</label>
        <input type="number" id="V3" name="V3"><br><br>
        <label for="V4">V4:</label>
        <input type="number" id="V4" name="V4"><br><br>
        <label for="V5">V5:</label>
        <input type="number" id="V5" name="V5"><br><br>
        <label for="V6">V6:</label>
        <input type="number" id="V6" name="V6"><br><br>
        <label for="V7">V7:</label>
        <input type="number" id="V7" name="V7"><br><br>
        <label for="V8">V8:</label>
        <input type="number" id="V8" name="V8"><br><br>
        <label for="V9">V9:</label>
        <input type="number" id="V9" name="V9"><br><br>
        <label for="V10">V10:</label>
        <input type="number" id="V10" name="V10"><br><br>
        
        <label for="V11">V11:</label>
        <input type="number" id="V11" name="V11"><br><br>
        <label for="V12">V12:</label>
        <input type="number" id="V12" name="V12"><br><br> 
        <label for="V13">V13:</label>
        <input type="number" id="V13" name="V13"><br><br> 
        <label for="V14">V14:</label>
        <input type="number" id="V14" name="V14"><br><br> 
        <label for="V15">V15:</label>
        <input type="number" id="V15" name="V15"><br><br> 
        <label for="V16">V16:</label>
        <input type="number" id="V16" name="V16"><br><br> 
        <label for="V17">V17:</label>
        <input type="number" id="V17" name="V17"><br><br> 
        <label for="V18">V18:</label>
        <input type="number" id="V18" name="V18"><br><br> 
        <label for="V19">V19:</label>
        <input type="number" id="V19" name="V19"><br><br> 

        <label for="V20">V20:</label>
        <input type="number" id="V20" name="V20"><br><br>
        <label for="V21">V21:</label>
        <input type="number" id="V21" name="V21"><br><br>
        <label for="V22">V22:</label>
        <input type="number" id="V22" name="V22"><br><br>
        <label for="V23">V23:</label>
        <input type="number" id="V23" name="V23"><br><br>
        <label for="V24">V24:</label>
        <input type="number" id="V24" name="V24"><br><br>
        <label for="V25">V25:</label>
        <input type="number" id="V25" name="V25"><br><br>
        <label for="V26">V26:</label>
        <input type="number" id="V26" name="V26"><br><br>
        <label for="V27">V27:</label>
        <input type="number" id="V27" name="V27"><br><br>
        <label for="V28">V28:</label>
        <input type="number" id="V28" name="V28"><br><br>
        <label for="V29">V29:</label>
        <input type="number" id="V29" name="V29"><br><br>

        <label for="V30">V30:</label>
        <input type="number" id="V30" name="V30"><br><br>
        <label for="V31">V31:</label>
        <input type="number" id="V31" name="V31"><br><br>
        <label for="V32">V32:</label>
        <input type="number" id="V32" name="V32"><br><br>
        <label for="V33">V33:</label>
        <input type="number" id="V33" name="V33"><br><br>
        <label for="V34">V34:</label>
        <input type="number" id="V34" name="V34"><br><br>
        <label for="V35">V35:</label>
        <input type="number" id="V35" name="V35"><br><br>
        <label for="V36">V36:</label>
        <input type="number" id="V36" name="V36"><br><br>
        <label for="V37">V37:</label>
        <input type="number" id="V37" name="V37"><br><br>
        <label for="V38">V38:</label>
        <input type="number" id="V38" name="V38"><br><br>
        <label for="V39">V39:</label>
        <input type="number" id="V39" name="V39"><br><br>

        <label for="V40">V40:</label>
        <input type="number" id="V40" name="V40"><br><br>
        <label for="V41">V41:</label>
        <input type="number" id="V41" name="V41"><br><br>
        <label for="V42">V42:</label>
        <input type="number" id="V42" name="V42"><br><br>
        <label for="V43">V43:</label>
        <input type="number" id="V43" name="V43"><br><br>
        <label for="V44">V44:</label>
        <input type="number" id="V44" name="V44"><br><br>
        <label for="V45">V45:</label>
        <input type="number" id="V45" name="V45"><br><br>
        <label for="V46">V46:</label>
        <input type="number" id="V46" name="V46"><br><br>
        <label for="V47">V47:</label>
        <input type="number" id="V47" name="V47"><br><br>
        <label for="V48">V48:</label>
        <input type="number" id="V48" name="V48"><br><br>
        <label for="V49">V49:</label>
        <input type="number" id="V49" name="V49"><br><br>

        <label for="V50">V50:</label>
        <input type="number" id="V50" name="V50"><br><br>
        <label for="V51">V51:</label>
        <input type="number" id="V51" name="V51"><br><br>
        <label for="V52">V52:</label>
        <input type="number" id="V52" name="V52"><br><br>
        <label for="V53">V53:</label>
        <input type="number" id="V53" name="V53"><br><br>
        <label for="V54">V54:</label>
        <input type="number" id="V54" name="V54"><br><br>
        <label for="V55">V55:</label>
        <input type="number" id="V55" name="V55"><br><br>
        <label for="V56">V56:</label>
        <input type="number" id="V56" name="V56"><br><br>
        <label for="V57">V57:</label>
        <input type="number" id="V57" name="V57"><br><br>
        <label for="V57">V58:</label>
        <input type="number" id="V58" name="V58"><br><br>
        <label for="V59">V59:</label>
        <input type="number" id="V59" name="V59"><br><br>

        <label for="V60">V60:</label>
        <input type="number" id="V60" name="V60"><br><br>
        <label for="V61">V61:</label>
        <input type="number" id="V61" name="V61"><br><br>
        <label for="V62">V62:</label>
        <input type="number" id="V62" name="V62"><br><br>
        <label for="V63">V63:</label>
        <input type="number" id="V63" name="V63"><br><br>
        <label for="V64">V64:</label>
        <input type="number" id="V64" name="V64"><br><br>
        <label for="V65">V65:</label>
        <input type="number" id="V65" name="V65"><br><br>
        <label for="V66">V66:</label>
        <input type="number" id="V66" name="V66"><br><br>
        <label for="V67">V67:</label>
        <input type="number" id="V67" name="V67"><br><br>
        <label for="V68">V68:</label>
        <input type="number" id="V68" name="V68"><br><br>
        <label for="V69">V69:</label>
        <input type="number" id="V69" name="V69"><br><br>

        <label for="V70">V70:</label>
        <input type="number" id="V70" name="V70"><br><br>
        <label for="V71">V71:</label>
        <input type="number" id="V71" name="V71"><br><br>
        <label for="V72">V72:</label>
        <input type="number" id="V72" name="V72"><br><br>
        <label for="V7">V7:</label>
        <input type="number" id="V73" name="V73"><br><br>
        <label for="V74">V74:</label>
        <input type="number" id="V74" name="V74"><br><br>
        <label for="V75">V75:</label>
        <input type="number" id="V75" name="V75"><br><br>
        <label for="V76">V76:</label>
        <input type="number" id="V76" name="V76"><br><br>
        <label for="V78">V78:</label>
        <input type="number" id="V78" name="V78"><br><br>
        <label for="V79">V79:</label>
        <input type="number" id="V79" name="V79"><br><br>
        
        <label for="V80">V80:</label>
        <input type="number" id="V80" name="V80"><br><br>
        <label for="V81">V81:</label>
        <input type="number" id="V81" name="V81"><br><br>
        <label for="V82">V82:</label>
        <input type="number" id="V82" name="V82"><br><br>
        <label for="V83">V83:</label>
        <input type="number" id="V83" name="V83"><br><br>
        <label for="V84">V84:</label>
        <input type="number" id="V84" name="V84"><br><br>
        <label for="V85">V85:</label>
        <input type="number" id="V85" name="V85"><br><br>
        
        <button type="button" onclick="predictValue()">Submit</button>
    </form>

    <div id="predictionResult"></div>

    <script>
        function predictValue() {
            // Collect input values
            var inputs = {};
            var form = document.getElementById("predictionForm");
            for (var i = 0; i < form.elements.length; i++) {
                var element = form.elements[i];
                if (element.type !== "button") {
                    inputs[element.name] = element.value;
                }
            }

            // Make API request
            fetch("{{ url_for('predict_datapoint')}}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(inputs),
            })
            .then(response => response.json())
            .then(data => {
                // Display prediction result
                document.getElementById("predictionResult").innerText = "Prediction: " + results[0];
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("predictionResult").innerText = "Prediction failed. Please try again.";
            });
        }
    </script>
</body>
</html>
